.nav-img
{
    height: 100px;

}
.textcontant
{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.section3
{
    background-color: black;
    
}
.img2
{
    padding-top: 30px; padding-bottom: 30px;
    height: 500px;
}
.img1
{
    width: 100%
}
.btn1
{
    display: flex;
    justify-content: center;
}

  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 700px) {
    
   .container{
    width: 100%;
  }
    
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    /* text-align: center; */
    background-color: #fff;
    cursor:pointer;
    height: 300px;
    padding-top: 150px;
  }

 




  