 .nav-img {
     height: 100px;
 }
 
 .textcontant {
     display: flex;
     justify-content: center;
     padding-top: 40px;
 }
 
 .section3 {
     background-color: black;
 }
 
 .img2 {
     padding-top: 30px;
     padding-bottom: 30px;
     height: 500px;
 }
 
 .work_para {
     font-size: 14px;
 }
 
 @media screen and (max-width: 890px) {
     .work {
         margin-left: 35px;
     }
     .work_text {
         font-size: 40px !important;
     }
 }
 
 .img1 {
     width: 100%;
     z-index: .99;
     /* position: relative; */
 }
 
 .graphic {
     position: relative;
 }
 
 .graph {
     position: absolute;
     top: 30%;
     right: 0;
     width: 35%;
 }
 
 .stars {
     position: absolute;
     bottom: 10px;
     right: 72.5%;
     width: 50%;
 }
 
 .btn1 {
     display: flex;
     justify-content: center;
 }
 /* Remove extra left and right margins, due to padding */
 
 .row {
     margin: 0 -5px;
 }
 /* Clear floats after the columns */
 
 .row:after {
     content: "";
     display: table;
     clear: both;
 }
 /* Responsive columns */
 
 @media screen and (max-width: 700px) {
     .container {
         width: 100%;
     }
     .column {
         width: 100%;
         display: block;
         margin-bottom: 20px;
     }
     .para_text {
         font-size: 12px;
         margin-left: 0px;
     }
     .blockmain {
         margin-right: 10px;
         margin-left: -10px;
     }
 }
 /* Style the counter cards */
 
 .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     padding: 5px;
     /* text-align: center; */
     background-color: #fff;
     cursor: pointer;
     height: 300px;
     padding-top: 150px;
 }
 
 .customer-logos {
     background-color: rgb(255, 255, 255);
     height: 180px;
 }
 /* Slider */
 
 .slick-slide {
     margin: 0px 20px;
 }
 
 .slick-slide img {
     width: 210px;
 }
 
 .slick-slider {
     position: relative;
     display: block;
     box-sizing: border-box;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-touch-callout: none;
     -khtml-user-select: none;
     -ms-touch-action: pan-y;
     touch-action: pan-y;
     -webkit-tap-highlight-color: transparent;
 }
 
 .slick-list {
     position: relative;
     display: block;
     overflow: hidden;
     margin: 0;
     padding: 0;
 }
 
 .slick-list:focus {
     outline: none;
 }
 
 .slick-list.dragging {
     cursor: pointer;
     cursor: hand;
 }
 
 .slick-slider .slick-track,
 .slick-slider .slick-list {
     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
     -ms-transform: translate3d(0, 0, 0);
     -o-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
 }
 
 .slick-track {
     position: relative;
     top: 0;
     left: 0;
     display: block;
 }
 
 .slick-track:before,
 .slick-track:after {
     display: table;
     content: '';
 }
 
 .slick-track:after {
     clear: both;
 }
 
 .slick-loading .slick-track {
     visibility: hidden;
 }
 
 .slick-slide {
     display: none;
     float: left;
     height: 100%;
     min-height: 1px;
 }
 
 [dir='rtl'] .slick-slide {
     float: right;
 }
 
 .slick-slide img {
     display: block;
 }
 
 .slick-slide.slick-loading img {
     display: none;
 }
 
 .slick-slide.dragging img {
     pointer-events: none;
 }
 
 .slick-initialized .slick-slide {
     display: block;
 }
 
 .slick-loading .slick-slide {
     visibility: hidden;
 }
 
 .slick-vertical .slick-slide {
     display: block;
     height: auto;
     border: 1px solid transparent;
 }
 
 .slick-arrow.slick-hidden {
     display: none;
 }
 
 #myFooter {
     background-color: #000000;
     color: white;
     padding-top: 30px;
 }
 
 #myFooter .footer-copyright {
     background-color: #000000;
     padding-top: 3px;
     padding-bottom: 3px;
     text-align: center;
 }
 /*  
  #myFooter .row {
    margin-bottom: 60px;
  } */
 
 #myFooter .footer-copyright p {
     margin: 10px;
     color: #ccc;
 }
 
 #myFooter ul {
     list-style-type: none;
     padding-left: 0;
     line-height: 1.7;
 }
 
 #myFooter h5 {
     font-size: 18px;
     color: white;
     font-weight: bold;
     margin-top: 30px;
 }
 
 #myFooter a {
     color: #d2d1d1;
     text-decoration: none;
 }
 
 #myFooter a:hover,
 #myFooter a:focus {
     text-decoration: none;
     color: white;
 }
 
 #myFooter .social-networks {
     text-align: center;
     padding-top: 30px;
     padding-bottom: 16px;
 }
 
 #myFooter .social-networks a {
     font-size: 32px;
     color: #f9f9f9;
     padding: 10px;
     transition: 0.2s;
 }
 
 #myFooter .social-networks a:hover {
     text-decoration: none;
 }
 
 #myFooter .facebook:hover {
     color: #0077e2;
 }
 
 #myFooter .google:hover {
     color: #ef1a1a;
 }
 
 #myFooter .twitter:hover {
     color: #00aced;
 }
 
 #myFooter .linkedin:hover {
     color: #007BB6;
 }
 
 #myFooter .btn {
     color: white;
     background-color: #d84b6b;
     border-radius: 20px;
     border: none;
     width: 150px;
     display: block;
     margin: 0 auto;
     margin-top: 10px;
     line-height: 25px;
 }
 
 @media screen and (max-width: 767px) {
     #myFooter {
         text-align: center;
     }
 }
 /* body
{
  background:#e6e6ff;
  font-family: 'Encode Sans', sans-serif;
} */
 /* navigation bar */
 
 #scanfcode {
     border-radius: 0px;
     background: #fff;
     padding: 10px;
     font-size: 17px;
 }
 /* logo or main heading */
 
 #logo {
     font-size: 20px;
     font-weight: bolder;
     color: #00004d;
     letter-spacing: 2px;
 }
 /* navigation links*/
 
 #link a {
     color: #01325d;
     margin: 0 20px 0 10px;
     letter-spacing: 1.5px;
 }
 /* navigation link with right border */
 
 #first-link {
     padding-right: 6px;
     border-right: solid 1px #ccc;
 }
 /* sign up link button and toggle button */
 
 #button-link,
 #toogle-button {
     color: #f2f2f2;
     border-style: solid;
     border-width: 1px;
     border-color: rgba(0, 0, 0, .2);
     border-radius: 2px;
     background-color: #fa6a48;
     line-height: 17px;
 }
 
 #button-link a {
     color: #f2f2f2;
 }
 /* .star-absolute{
 
 
  position: relative;
  top: 0;
  left: 20;
 
} */
 
 @media screen and (max-width: 1700px) {
     .stars {}
 }
 /* .greysqn{
  height: 50px;
  width: 50px;
  background-color: gray;
} */
 /* .bluesqn{
  height: 70px;
  width: 70px;
  background-color: rgba(78,99,218,255);
} */
 
 .blockmain {
     position: relative;
 }
 
 .blockdesign {
     position: absolute;
     right: 2%;
     width: 70px;
 }
 
 .head1 {
     font-size: 5vw;
 }
 
 .blockmain {
     position: relative;
 }
 
 .blockdesign {
     position: absolute;
     right: 2%;
     width: 70px;
 }
 
 .head1 {
     font-size: 5vw;
 }